<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <title>Compile Sample</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="Content/bootstrap.min.css">
	<link rel="stylesheet" href="Content/app.css">	
</head>
<body>
	<div class="container">
		<div ng-controller="CompileSampleController" style="padding:20px;">
			<div id="aqui"></div>
			<br/>
			name:<input type="text" value="" ng-model="name" /><br/>
			markup:<input type="text" value="" ng-model="markup" /><br />
			<button class="btn" ng-click="appendDivToElement(markup)">Append</button>
		</div>
	</div>
	<script type="text/javascript" src="Scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="Scripts/angular.min.js"></script>
	<script type="text/javascript" src="Scripts/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="Scripts/angular-resource.min.js"></script>
	<script type="text/javascript" src="Scripts/app.js"></script>
	<script type="text/javascript" src="Scripts/controllers/CompileSampleController.js"></script>
</body>
</html>
