<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
	<base href="/" >
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="/Content/bootstrap.min.css">
	<link rel="stylesheet" href="/Content/app.css">
	<script type="text/javascript" src="/Scripts/jquery-1.7.2.min.js" defer></script>
	<script type="text/javascript" src="/Scripts/bootstrap.min.js" defer></script>
	<script type="text/javascript" src="/Scripts/angular.min.js" defer></script>
	<script type="text/javascript" src="/Scripts/angular-sanitize.min.js" defer></script>
	<script type="text/javascript" src="/Scripts/angular-route.min.js" defer></script>
	<script type="text/javascript" src="/Scripts/angular-resource.min.js" defer></script>
	<script type="text/javascript" src="/Scripts/app.js" defer></script>
	<script type="text/javascript" src="/Scripts/controllers/EditEventController.js" defer></script>
	<script type="text/javascript" src="/Scripts/controllers/EventController.js" defer></script>
	<script type="text/javascript" src="/Scripts/controllers/EventListController.js" defer></script>
	<script type="text/javascript" src="/Scripts/controllers/MainMenuController.js" defer></script>
	<script type="text/javascript" src="/Scripts/controllers/SampleDirectiveController.js" defer></script>
	<script type="text/javascript" src="/Scripts/directives/mySample.js" defer></script>
	<script type="text/javascript" src="/Scripts/services/EventData.js" defer></script>
	<script type="text/javascript" src="/Scripts/directives/eventThumbnail.js" defer></script>
	<script type="text/javascript" src="/Scripts/directives/upvote.js" defer></script>
	<script type="text/javascript" src="/Scripts/filters.js" defer></script>
	
	
	<style>
		input.ng-invalid.ng-dirty {
			background-color: red;
		}
	</style>
</head>
<body ng-cloak>
	<div class="container">
		<div class="navbar" ng-controller="MainMenuController">
			<div class="navbar-inner">
				<ul class="nav">
					<!--<li><a href="newEvent">Create Event</a></li>-->
					<li><a href="#" ng-click="createEvent()">Create Event</a></li>
					<li><a href="#" ng-click="showDirective()">Directive</a></li>					
				</ul>
			</div>
		</div>

		<ng-view></ng-view>
	</div>
</body>
</html>